﻿@page "/"

<h1>Sudoku</h1>
<p>When I play sudoku I have certain methods I use to solve the puzzle.</p>
<p>The methods I use to solve sudoku work on most puzzles but not all. So I decided to turn those exact methods into code, to quickly see where they get stuck.</p>
<p>The goal of this project is for me to learn better algorithms which I can use as a human to solve sudoku puzzles. Meaning I am not using any brute force tactics.</p>
<p>So far the solving methods used are ones where there are zero errors (no trial and roll back). I am a bit stuck on some puzzles, if I cant think of an error free way to continue solving then I may need to do very very simple trial & error strategies.</p>

<h2>Solving</h2>
<ol>
    <li>Pencil in all possibilites into every block.</li>
    <li>Reduce the possibilites using a number methods (This where I am adding more algoritms), eg where the number is in the same row, column, block.</li>
    <li>When a number is the last of its kind in any row, column, block then thats the answer.</li>
</ol>

<NavLink class="btn btn-primary" Match="NavLinkMatch.Prefix" href="/sudoku">Start</NavLink>
