﻿
.puzzle > li:nth-child(n):nth-child(-n+9) {
    border-top-width: 4px;
}

.puzzle > li:nth-child(n+73):nth-child(-n+81) {
    border-bottom-width: 4px;
}

.puzzle > li:nth-child(3n) {
    border-right-width: 4px;
}

.puzzle > li:nth-child(9n+1) {
    border-left-width: 4px;
}

.puzzle > li:nth-child(n+19):nth-child(-n+27) {
    border-bottom-width: 4px;
}

.puzzle > li:nth-child(n+46):nth-child(-n+54) {
    border-bottom-width: 4px;
}

ul.puzzle {
    display: grid;
    grid-template-columns: repeat(9, 5vw);
    grid-template-rows: repeat(9, 5vw);
    justify-content: center;
    align-content: center;
    grid-gap: 0rem;
    list-style: none;
    margin: 0 0 2vw;
    padding: 0;
    font-size: calc(1vw + 1px);
}

.answered {
    font-size: calc(2vw + 10px);
}

.puzzle > li {
    margin: 0;
    padding: 0;
    text-align: center;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

    .puzzle > li span {
        margin-top: 0;
    }

.highlight {
    background-color: #385cff;
    color: white;
}

.zone {
    background-color: #7b93ff;
}


@media only screen and (max-width: 2100px) {
    ul .puzzle {
        grid-template-columns: repeat(9, 6vw);
        grid-template-rows: repeat(9, 6vw);
        font-size: calc(1vw + 1px);
    }
}

@media only screen and (max-width: 640px) {
    ul.puzzle {
        grid-template-columns: repeat(9, 10vw);
        grid-template-rows: repeat(9, 10vw);
        font-size: calc(1vw + 1px);
    }
}