﻿@page "/sudoku"

@using System.IO;
@inject HttpClient _httpClient

<h1>Sudoku</h1>

<div class="my-2">
    <h4>Puzzles</h4>
    <a class="btn btn-primary" @onclick="EmptyPuzzle" href="javascript:void(0)">Empty Puzzle</a>
    <a class="btn btn-primary" @onclick="NewPuzzle" href="javascript:void(0)">Set Puzzle</a>
</div>

<div style="display:@BoardDisplay">
    <div class="my-2">
        <h4>Cheats</h4>
        <a class="btn btn-primary" @onclick="Solve" href="javascript:void(0)">Help Solve</a>
        <a class="btn btn-primary" @onclick="SetAllPossibilities" href="javascript:void(0)">Pencil in Possibilities</a>
    </div>

    <div class="my-2">
        <h4>Highlight board</h4>
        <a class="btn btn-primary" @onclick="() => UnselectAll()" href="javascript:void(0)">None</a>
        <a class="btn btn-primary" @onclick="() => Show(1)" href="javascript:void(0)">1</a>
        <a class="btn btn-primary" @onclick="() => Show(2)" href="javascript:void(0)">2</a>
        <a class="btn btn-primary" @onclick="() => Show(3)" href="javascript:void(0)">3</a>
        <a class="btn btn-primary" @onclick="() => Show(4)" href="javascript:void(0)">4</a>
        <a class="btn btn-primary" @onclick="() => Show(5)" href="javascript:void(0)">5</a>
        <a class="btn btn-primary" @onclick="() => Show(6)" href="javascript:void(0)">6</a>
        <a class="btn btn-primary" @onclick="() => Show(7)" href="javascript:void(0)">7</a>
        <a class="btn btn-primary" @onclick="() => Show(8)" href="javascript:void(0)">8</a>
        <a class="btn btn-primary" @onclick="() => Show(9)" href="javascript:void(0)">9</a>
        <a class="btn btn-primary" @onclick="ToggleWithZones" href="javascript:void(0)">Toggle Zones</a>

        <span class="ml-2">
            <a class="btn btn-primary" @onclick="Undo" href="javascript:void(0)">Undo</a>
            <span style="display:@SelectedDisplay">
                <a class="btn btn-primary" @onclick="OpenAnswer" href="javascript:void(0)">Answer</a>
                <a class="btn btn-primary" @onclick="OpenPossibilities" href="javascript:void(0)">Pencil In</a>
            </span>
        </span>
    </div>

    <ul class="puzzle">
        <li class="@Classes[0, 0] @PossibilityClasses[0, 0]" @onclick="(args) => Click(args, 0, 0)"><span>@((MarkupString)Board[0, 0])</span></li>
        <li class="@Classes[0, 1] @PossibilityClasses[0, 1]" @onclick="(args) => Click(args, 0, 1)"><span>@((MarkupString)Board[0, 1])</span></li>
        <li class="@Classes[0, 2] @PossibilityClasses[0, 2]" @onclick="(args) => Click(args, 0, 2)"><span>@((MarkupString)Board[0, 2])</span></li>
        <li class="@Classes[0, 3] @PossibilityClasses[0, 3]" @onclick="(args) => Click(args, 0, 3)"><span>@((MarkupString)Board[0, 3])</span></li>
        <li class="@Classes[0, 4] @PossibilityClasses[0, 4]" @onclick="(args) => Click(args, 0, 4)"><span>@((MarkupString)Board[0, 4])</span></li>
        <li class="@Classes[0, 5] @PossibilityClasses[0, 5]" @onclick="(args) => Click(args, 0, 5)"><span>@((MarkupString)Board[0, 5])</span></li>
        <li class="@Classes[0, 6] @PossibilityClasses[0, 6]" @onclick="(args) => Click(args, 0, 6)"><span>@((MarkupString)Board[0, 6])</span></li>
        <li class="@Classes[0, 7] @PossibilityClasses[0, 7]" @onclick="(args) => Click(args, 0, 7)"><span>@((MarkupString)Board[0, 7])</span></li>
        <li class="@Classes[0, 8] @PossibilityClasses[0, 8]" @onclick="(args) => Click(args, 0, 8)"><span>@((MarkupString)Board[0, 8])</span></li>
        <li class="@Classes[1, 0] @PossibilityClasses[1, 0]" @onclick="(args) => Click(args, 1, 0)"><span>@((MarkupString)Board[1, 0])</span></li>
        <li class="@Classes[1, 1] @PossibilityClasses[1, 1]" @onclick="(args) => Click(args, 1, 1)"><span>@((MarkupString)Board[1, 1])</span></li>
        <li class="@Classes[1, 2] @PossibilityClasses[1, 2]" @onclick="(args) => Click(args, 1, 2)"><span>@((MarkupString)Board[1, 2])</span></li>
        <li class="@Classes[1, 3] @PossibilityClasses[1, 3]" @onclick="(args) => Click(args, 1, 3)"><span>@((MarkupString)Board[1, 3])</span></li>
        <li class="@Classes[1, 4] @PossibilityClasses[1, 4]" @onclick="(args) => Click(args, 1, 4)"><span>@((MarkupString)Board[1, 4])</span></li>
        <li class="@Classes[1, 5] @PossibilityClasses[1, 5]" @onclick="(args) => Click(args, 1, 5)"><span>@((MarkupString)Board[1, 5])</span></li>
        <li class="@Classes[1, 6] @PossibilityClasses[1, 6]" @onclick="(args) => Click(args, 1, 6)"><span>@((MarkupString)Board[1, 6])</span></li>
        <li class="@Classes[1, 7] @PossibilityClasses[1, 7]" @onclick="(args) => Click(args, 1, 7)"><span>@((MarkupString)Board[1, 7])</span></li>
        <li class="@Classes[1, 8] @PossibilityClasses[1, 8]" @onclick="(args) => Click(args, 1, 8)"><span>@((MarkupString)Board[1, 8])</span></li>
        <li class="@Classes[2, 0] @PossibilityClasses[2, 0]" @onclick="(args) => Click(args, 2, 0)"><span>@((MarkupString)Board[2, 0])</span></li>
        <li class="@Classes[2, 1] @PossibilityClasses[2, 1]" @onclick="(args) => Click(args, 2, 1)"><span>@((MarkupString)Board[2, 1])</span></li>
        <li class="@Classes[2, 2] @PossibilityClasses[2, 2]" @onclick="(args) => Click(args, 2, 2)"><span>@((MarkupString)Board[2, 2])</span></li>
        <li class="@Classes[2, 3] @PossibilityClasses[2, 3]" @onclick="(args) => Click(args, 2, 3)"><span>@((MarkupString)Board[2, 3])</span></li>
        <li class="@Classes[2, 4] @PossibilityClasses[2, 4]" @onclick="(args) => Click(args, 2, 4)"><span>@((MarkupString)Board[2, 4])</span></li>
        <li class="@Classes[2, 5] @PossibilityClasses[2, 5]" @onclick="(args) => Click(args, 2, 5)"><span>@((MarkupString)Board[2, 5])</span></li>
        <li class="@Classes[2, 6] @PossibilityClasses[2, 6]" @onclick="(args) => Click(args, 2, 6)"><span>@((MarkupString)Board[2, 6])</span></li>
        <li class="@Classes[2, 7] @PossibilityClasses[2, 7]" @onclick="(args) => Click(args, 2, 7)"><span>@((MarkupString)Board[2, 7])</span></li>
        <li class="@Classes[2, 8] @PossibilityClasses[2, 8]" @onclick="(args) => Click(args, 2, 8)"><span>@((MarkupString)Board[2, 8])</span></li>
        <li class="@Classes[3, 0] @PossibilityClasses[3, 0]" @onclick="(args) => Click(args, 3, 0)"><span>@((MarkupString)Board[3, 0])</span></li>
        <li class="@Classes[3, 1] @PossibilityClasses[3, 1]" @onclick="(args) => Click(args, 3, 1)"><span>@((MarkupString)Board[3, 1])</span></li>
        <li class="@Classes[3, 2] @PossibilityClasses[3, 2]" @onclick="(args) => Click(args, 3, 2)"><span>@((MarkupString)Board[3, 2])</span></li>
        <li class="@Classes[3, 3] @PossibilityClasses[3, 3]" @onclick="(args) => Click(args, 3, 3)"><span>@((MarkupString)Board[3, 3])</span></li>
        <li class="@Classes[3, 4] @PossibilityClasses[3, 4]" @onclick="(args) => Click(args, 3, 4)"><span>@((MarkupString)Board[3, 4])</span></li>
        <li class="@Classes[3, 5] @PossibilityClasses[3, 5]" @onclick="(args) => Click(args, 3, 5)"><span>@((MarkupString)Board[3, 5])</span></li>
        <li class="@Classes[3, 6] @PossibilityClasses[3, 6]" @onclick="(args) => Click(args, 3, 6)"><span>@((MarkupString)Board[3, 6])</span></li>
        <li class="@Classes[3, 7] @PossibilityClasses[3, 7]" @onclick="(args) => Click(args, 3, 7)"><span>@((MarkupString)Board[3, 7])</span></li>
        <li class="@Classes[3, 8] @PossibilityClasses[3, 8]" @onclick="(args) => Click(args, 3, 8)"><span>@((MarkupString)Board[3, 8])</span></li>
        <li class="@Classes[4, 0] @PossibilityClasses[4, 0]" @onclick="(args) => Click(args, 4, 0)"><span>@((MarkupString)Board[4, 0])</span></li>
        <li class="@Classes[4, 1] @PossibilityClasses[4, 1]" @onclick="(args) => Click(args, 4, 1)"><span>@((MarkupString)Board[4, 1])</span></li>
        <li class="@Classes[4, 2] @PossibilityClasses[4, 2]" @onclick="(args) => Click(args, 4, 2)"><span>@((MarkupString)Board[4, 2])</span></li>
        <li class="@Classes[4, 3] @PossibilityClasses[4, 3]" @onclick="(args) => Click(args, 4, 3)"><span>@((MarkupString)Board[4, 3])</span></li>
        <li class="@Classes[4, 4] @PossibilityClasses[4, 4]" @onclick="(args) => Click(args, 4, 4)"><span>@((MarkupString)Board[4, 4])</span></li>
        <li class="@Classes[4, 5] @PossibilityClasses[4, 5]" @onclick="(args) => Click(args, 4, 5)"><span>@((MarkupString)Board[4, 5])</span></li>
        <li class="@Classes[4, 6] @PossibilityClasses[4, 6]" @onclick="(args) => Click(args, 4, 6)"><span>@((MarkupString)Board[4, 6])</span></li>
        <li class="@Classes[4, 7] @PossibilityClasses[4, 7]" @onclick="(args) => Click(args, 4, 7)"><span>@((MarkupString)Board[4, 7])</span></li>
        <li class="@Classes[4, 8] @PossibilityClasses[4, 8]" @onclick="(args) => Click(args, 4, 8)"><span>@((MarkupString)Board[4, 8])</span></li>
        <li class="@Classes[5, 0] @PossibilityClasses[5, 0]" @onclick="(args) => Click(args, 5, 0)"><span>@((MarkupString)Board[5, 0])</span></li>
        <li class="@Classes[5, 1] @PossibilityClasses[5, 1]" @onclick="(args) => Click(args, 5, 1)"><span>@((MarkupString)Board[5, 1])</span></li>
        <li class="@Classes[5, 2] @PossibilityClasses[5, 2]" @onclick="(args) => Click(args, 5, 2)"><span>@((MarkupString)Board[5, 2])</span></li>
        <li class="@Classes[5, 3] @PossibilityClasses[5, 3]" @onclick="(args) => Click(args, 5, 3)"><span>@((MarkupString)Board[5, 3])</span></li>
        <li class="@Classes[5, 4] @PossibilityClasses[5, 4]" @onclick="(args) => Click(args, 5, 4)"><span>@((MarkupString)Board[5, 4])</span></li>
        <li class="@Classes[5, 5] @PossibilityClasses[5, 5]" @onclick="(args) => Click(args, 5, 5)"><span>@((MarkupString)Board[5, 5])</span></li>
        <li class="@Classes[5, 6] @PossibilityClasses[5, 6]" @onclick="(args) => Click(args, 5, 6)"><span>@((MarkupString)Board[5, 6])</span></li>
        <li class="@Classes[5, 7] @PossibilityClasses[5, 7]" @onclick="(args) => Click(args, 5, 7)"><span>@((MarkupString)Board[5, 7])</span></li>
        <li class="@Classes[5, 8] @PossibilityClasses[5, 8]" @onclick="(args) => Click(args, 5, 8)"><span>@((MarkupString)Board[5, 8])</span></li>
        <li class="@Classes[6, 0] @PossibilityClasses[6, 0]" @onclick="(args) => Click(args, 6, 0)"><span>@((MarkupString)Board[6, 0])</span></li>
        <li class="@Classes[6, 1] @PossibilityClasses[6, 1]" @onclick="(args) => Click(args, 6, 1)"><span>@((MarkupString)Board[6, 1])</span></li>
        <li class="@Classes[6, 2] @PossibilityClasses[6, 2]" @onclick="(args) => Click(args, 6, 2)"><span>@((MarkupString)Board[6, 2])</span></li>
        <li class="@Classes[6, 3] @PossibilityClasses[6, 3]" @onclick="(args) => Click(args, 6, 3)"><span>@((MarkupString)Board[6, 3])</span></li>
        <li class="@Classes[6, 4] @PossibilityClasses[6, 4]" @onclick="(args) => Click(args, 6, 4)"><span>@((MarkupString)Board[6, 4])</span></li>
        <li class="@Classes[6, 5] @PossibilityClasses[6, 5]" @onclick="(args) => Click(args, 6, 5)"><span>@((MarkupString)Board[6, 5])</span></li>
        <li class="@Classes[6, 6] @PossibilityClasses[6, 6]" @onclick="(args) => Click(args, 6, 6)"><span>@((MarkupString)Board[6, 6])</span></li>
        <li class="@Classes[6, 7] @PossibilityClasses[6, 7]" @onclick="(args) => Click(args, 6, 7)"><span>@((MarkupString)Board[6, 7])</span></li>
        <li class="@Classes[6, 8] @PossibilityClasses[6, 8]" @onclick="(args) => Click(args, 6, 8)"><span>@((MarkupString)Board[6, 8])</span></li>
        <li class="@Classes[7, 0] @PossibilityClasses[7, 0]" @onclick="(args) => Click(args, 7, 0)"><span>@((MarkupString)Board[7, 0])</span></li>
        <li class="@Classes[7, 1] @PossibilityClasses[7, 1]" @onclick="(args) => Click(args, 7, 1)"><span>@((MarkupString)Board[7, 1])</span></li>
        <li class="@Classes[7, 2] @PossibilityClasses[7, 2]" @onclick="(args) => Click(args, 7, 2)"><span>@((MarkupString)Board[7, 2])</span></li>
        <li class="@Classes[7, 3] @PossibilityClasses[7, 3]" @onclick="(args) => Click(args, 7, 3)"><span>@((MarkupString)Board[7, 3])</span></li>
        <li class="@Classes[7, 4] @PossibilityClasses[7, 4]" @onclick="(args) => Click(args, 7, 4)"><span>@((MarkupString)Board[7, 4])</span></li>
        <li class="@Classes[7, 5] @PossibilityClasses[7, 5]" @onclick="(args) => Click(args, 7, 5)"><span>@((MarkupString)Board[7, 5])</span></li>
        <li class="@Classes[7, 6] @PossibilityClasses[7, 6]" @onclick="(args) => Click(args, 7, 6)"><span>@((MarkupString)Board[7, 6])</span></li>
        <li class="@Classes[7, 7] @PossibilityClasses[7, 7]" @onclick="(args) => Click(args, 7, 7)"><span>@((MarkupString)Board[7, 7])</span></li>
        <li class="@Classes[7, 8] @PossibilityClasses[7, 8]" @onclick="(args) => Click(args, 7, 8)"><span>@((MarkupString)Board[7, 8])</span></li>
        <li class="@Classes[8, 0] @PossibilityClasses[8, 0]" @onclick="(args) => Click(args, 8, 0)"><span>@((MarkupString)Board[8, 0])</span></li>
        <li class="@Classes[8, 1] @PossibilityClasses[8, 1]" @onclick="(args) => Click(args, 8, 1)"><span>@((MarkupString)Board[8, 1])</span></li>
        <li class="@Classes[8, 2] @PossibilityClasses[8, 2]" @onclick="(args) => Click(args, 8, 2)"><span>@((MarkupString)Board[8, 2])</span></li>
        <li class="@Classes[8, 3] @PossibilityClasses[8, 3]" @onclick="(args) => Click(args, 8, 3)"><span>@((MarkupString)Board[8, 3])</span></li>
        <li class="@Classes[8, 4] @PossibilityClasses[8, 4]" @onclick="(args) => Click(args, 8, 4)"><span>@((MarkupString)Board[8, 4])</span></li>
        <li class="@Classes[8, 5] @PossibilityClasses[8, 5]" @onclick="(args) => Click(args, 8, 5)"><span>@((MarkupString)Board[8, 5])</span></li>
        <li class="@Classes[8, 6] @PossibilityClasses[8, 6]" @onclick="(args) => Click(args, 8, 6)"><span>@((MarkupString)Board[8, 6])</span></li>
        <li class="@Classes[8, 7] @PossibilityClasses[8, 7]" @onclick="(args) => Click(args, 8, 7)"><span>@((MarkupString)Board[8, 7])</span></li>
        <li class="@Classes[8, 8] @PossibilityClasses[8, 8]" @onclick="(args) => Click(args, 8, 8)"><span>@((MarkupString)Board[8, 8])</span></li>
    </ul>
</div>

<div class="modal @PossibilitiesModalClass" tabindex="-1" role="dialog" style="display:@PossibilitiesModalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select Possibilities</h5>
                <button type="button" class="close" aria-label="Close" @onclick="() => ClosePossibilities()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a class="btn @PossibilityButtonsClass[0]" @onclick="() => TogglePossibility(1)" href="javascript:void(0)">1</a>
                <a class="btn @PossibilityButtonsClass[1]" @onclick="() => TogglePossibility(2)" href="javascript:void(0)">2</a>
                <a class="btn @PossibilityButtonsClass[2]" @onclick="() => TogglePossibility(3)" href="javascript:void(0)">3</a>
                <a class="btn @PossibilityButtonsClass[3]" @onclick="() => TogglePossibility(4)" href="javascript:void(0)">4</a>
                <a class="btn @PossibilityButtonsClass[4]" @onclick="() => TogglePossibility(5)" href="javascript:void(0)">5</a>
                <a class="btn @PossibilityButtonsClass[5]" @onclick="() => TogglePossibility(6)" href="javascript:void(0)">6</a>
                <a class="btn @PossibilityButtonsClass[6]" @onclick="() => TogglePossibility(7)" href="javascript:void(0)">7</a>
                <a class="btn @PossibilityButtonsClass[7]" @onclick="() => TogglePossibility(8)" href="javascript:void(0)">8</a>
                <a class="btn @PossibilityButtonsClass[8]" @onclick="() => TogglePossibility(9)" href="javascript:void(0)">9</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => ClosePossibilities()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal @AnswerModalClass" tabindex="-1" role="dialog" style="display:@AnswerModalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select Answer</h5>
                <button type="button" class="close" aria-label="Close" @onclick="() => CloseAnswer()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a class="btn btn-primary" @onclick="() => Answer(1)" href="javascript:void(0)">1</a>
                <a class="btn btn-primary" @onclick="() => Answer(2)" href="javascript:void(0)">2</a>
                <a class="btn btn-primary" @onclick="() => Answer(3)" href="javascript:void(0)">3</a>
                <a class="btn btn-primary" @onclick="() => Answer(4)" href="javascript:void(0)">4</a>
                <a class="btn btn-primary" @onclick="() => Answer(5)" href="javascript:void(0)">5</a>
                <a class="btn btn-primary" @onclick="() => Answer(6)" href="javascript:void(0)">6</a>
                <a class="btn btn-primary" @onclick="() => Answer(7)" href="javascript:void(0)">7</a>
                <a class="btn btn-primary" @onclick="() => Answer(8)" href="javascript:void(0)">8</a>
                <a class="btn btn-primary" @onclick="() => Answer(9)" href="javascript:void(0)">9</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="() => CloseAnswer()">Close</button>
            </div>
        </div>
    </div>
</div>

@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}

@code{
    private string[,] Board = new string[9, 9];
    private string[,] Classes = new string[9, 9];
    private string[,] PossibilityClasses = new string[9, 9];
    private Puzzle Puzzle = new Puzzle();
    private PuzzleSolver PuzzleSolver;
    private PuzzleLoader PuzzleLoader;
    private bool WithZones = false;

    private (int y, int x)? Selected;
    private int Showing;
    private string SelectedDisplay = "none;";
    private string BoardDisplay = "none;";

    private string PuzzleString;
    private string Solution;


    public void TogglePossibility(int number)
    {
        if (Puzzle.Board[Selected.Value.y, Selected.Value.x].Possibilities.Contains(number))
        {
            Puzzle.Board[Selected.Value.y, Selected.Value.x].Possibilities.Remove(number);
            PossibilityButtonsClass[number - 1] = "btn-outline-primary";
        }
        else
        {
            Puzzle.Board[Selected.Value.y, Selected.Value.x].Possibilities.Add(number);
            PossibilityButtonsClass[number - 1] = "btn-primary";
        }
    }

    public void Answer(int answer)
    {
        Puzzle.SetAnswer(Selected.Value.y, Selected.Value.x, answer);

        Display();

        CloseAnswer();
    }

    public async Task NewPuzzle()
    {
        Random r = new Random();

        var url = $"/puzzles/sudoku-puzzles{r.Next(10000) + 1}.csv";
        var stream = await _httpClient.GetStreamAsync(url);

        var puzzleNumber = r.Next(100) + 1;
        var puzzleSolution = "";
        using (var reader = new StreamReader(stream))
        {
            int count = 0;
            while (reader.EndOfStream == false)
            {
                string data = reader.ReadLine();
                if (puzzleNumber == count)
                {
                    puzzleSolution = data;
                    break;
                }
                count++;
            }
        }
        var puzzleSolutionArr = puzzleSolution.Split(',');
        PuzzleString = puzzleSolutionArr[0];
        Solution = puzzleSolutionArr[1];

        var puzzleArr = new int[81];
        for (int i = 0; i < 81; i++)
        {
            puzzleArr[i] = int.Parse(PuzzleString[i].ToString());
        }

        BoardDisplay = "block;";
        Puzzle = new Puzzle(puzzleArr);

        PuzzleCreated();
    }

    public void EmptyPuzzle()
    {
        BoardDisplay = "block;";
        Puzzle = new Puzzle();
        PuzzleCreated();
    }

    public void Display()
    {
        for (int y = 0; y < 9; y++)
        {
            for (int x = 0; x < 9; x++)
            {
                var spot = Puzzle.Board[y, x];
                if (spot.Answer != null && spot.Answer != 0)
                {
                    Board[y, x] = spot.Answer.Value.ToString();
                    Classes[y, x] = "answered";
                }
                else
                {
                    Classes[y, x].Replace("answered", "");
                    string possibilitiesDisplay = "";
                    for (int i = 1; i <= 9; i++)
                    {
                        if (spot.Possibilities.Any(x => x == i))
                        {
                            possibilitiesDisplay += $"<span class='possibly{i}'>{i}</span>";
                        }
                        else
                        {
                            possibilitiesDisplay += " ";
                        }

                        if (i % 3 == 0)
                        {
                            possibilitiesDisplay += "<br>";
                        }
                        else
                        {
                            possibilitiesDisplay += " ";
                        }
                    }

                    Board[y, x] = possibilitiesDisplay;
                }
            }
        }

        if (Showing != 0)
        {
            Show(Showing);
        }
        else if (Selected != null)
        {
            var y = Selected.Value.y;
            var x = Selected.Value.x;
            UnselectAll();
            Select(y, x);
        }
    }

    public void Solve()
    {
        PuzzleSolver.Solve(1);
        Display();
    }

    public void SetAllPossibilities()
    {
        UnselectAll();
        var reducer = new ConflictWithAnswerReducer();
        PuzzleSolver.InitiateAllPossibilities();
        reducer.Reduce(Puzzle);
        Display();
    }

    public void Show(int number)
    {
        UnselectAll();
        Showing = number;
        for (int y = 0; y < 9; y++)
        {
            for (int x = 0; x < 9; x++)
            {
                var spot = Puzzle.Board[y, x];
                if (spot.Answer == number)
                {
                    HighlightSpot(y, x);
                }

                PossibilityClasses[y, x] = $"show{number}";
            }
        }
        StateHasChanged();
    }

    public void Click(MouseEventArgs args, int selectedY, int selectedX)
    {
        Select(selectedY, selectedX);

        if (Puzzle.Board[selectedY, selectedX].Answer == null || Puzzle.Board[selectedY, selectedX].Answer == 0)
        {
            if (args.AltKey)
            {
                OpenPossibilities();
            }
            else if (args.CtrlKey)
            {
                OpenAnswer();
            }
        }
    }

    public void UnselectAll()
    {
        Selected = null;
        Showing = 0;
        SelectedDisplay = "none;";
        for (int y = 0; y < 9; y++)
        {
            for (int x = 0; x < 9; x++)
            {
                Classes[y, x] = Classes[y, x].Replace(" zone", "");
                Classes[y, x] = Classes[y, x].Replace(" highlight", "");
                PossibilityClasses[y, x] = "";
            }
        }
        StateHasChanged();
    }

    public void ToggleWithZones()
    {
        WithZones = !WithZones;

        if (Showing != 0)
        {
            Show(Showing);
        }
        else if (Selected != null)
        {
            var y = Selected.Value.y;
            var x = Selected.Value.x;
            UnselectAll();
            Select(y, x);
        }
    }

    public void Undo()
    {
        Puzzle.Undo();
        Display();
    }
}

@code{

    private void PuzzleCreated()
    {
        for (int y = 0; y < 9; y++)
        {
            for (int x = 0; x < 9; x++)
            {
                Classes[y, x] = "";
                PossibilityClasses[y, x] = "";
            }
        }
        PuzzleSolver = new PuzzleSolver(Puzzle, new List<IReducer>()
{
                new ConflictWithAnswerReducer(),
                new StraightLinePossibilityReducer(),
                new NumberOfBlocksWithSameNumberOfPossibilitiesReducer()
        });
        Display();
    }

    private void Select(int selectedY, int selectedX)
    {
        UnselectAll();
        Selected = (selectedY, selectedX);

        if (Puzzle.Board[selectedY, selectedX].Answer == null || Puzzle.Board[selectedY, selectedX].Answer == 0)
        {
            SelectedDisplay = "block-inline;";
        }

        HighlightSpot(selectedY, selectedX);

        if (Puzzle.Board[selectedY, selectedX].Answer.HasValue)
        {
            for (int y = 0; y < 9; y++)
            {
                for (int x = 0; x < 9; x++)
                {
                    if (true)
                    {

                    }
                    PossibilityClasses[y, x] = $"show{Puzzle.Board[selectedY, selectedX].Answer.Value}";
                }
            }
        }

        StateHasChanged();
    }

    private void HighlightSpot(int y, int x)
    {
        Classes[y, x] = Classes[y, x].Replace(" zone", "");
        Classes[y, x] = Classes[y, x].Replace(" highlight", "");
        Classes[y, x] += " highlight";

        if (WithZones)
        {
            var centerY = Puzzle.GetClosestBlockCenter(y);
            var centerX = Puzzle.GetClosestBlockCenter(x);

            AddZoneClass(centerY - 1, centerX - 1);
            AddZoneClass(centerY - 1, centerX);
            AddZoneClass(centerY - 1, centerX + 1);
            AddZoneClass(centerY, centerX - 1);
            AddZoneClass(centerY, centerX);
            AddZoneClass(centerY, centerX + 1);
            AddZoneClass(centerY + 1, centerX - 1);
            AddZoneClass(centerY + 1, centerX);
            AddZoneClass(centerY + 1, centerX + 1);

            for (int thisY = 0; thisY < 9; thisY++)
            {
                AddZoneClass(thisY, x);
            }

            for (int thisX = 0; thisX < 9; thisX++)
            {
                AddZoneClass(y, thisX);
            }
        }
    }

    private void AddZoneClass(int y, int x)
    {
        if (Classes[y, x].Contains("highlight") == false)
        {
            Classes[y, x] = Classes[y, x].Replace(" zone", "");

            Classes[y, x] += " zone";
        }
    }

}

@code{
    public string[] PossibilityButtonsClass = new string[9];
    public string PossibilitiesModalDisplay = "none;";
    public string PossibilitiesModalClass = "";

    public string AnswerModalDisplay = "none;";
    public string AnswerModalClass = "";
    public bool ShowBackdrop = false;

    public void OpenAnswer()
    {
        AnswerModalDisplay = "block;";
        AnswerModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void CloseAnswer()
    {
        AnswerModalDisplay = "none";
        AnswerModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }

    public void OpenPossibilities()
    {
        if (Selected.HasValue)
        {
            var possibilities = Puzzle.GetPossibilities(Selected.Value.y, Selected.Value.x);

            for (int i = 0; i < 9; i++)
            {
                if (possibilities.Contains(i + 1))
                {
                    PossibilityButtonsClass[i] = "btn-primary";
                }
                else
                {
                    PossibilityButtonsClass[i] = "btn-outline-primary";
                }
            }

            PossibilitiesModalDisplay = "block;";
            PossibilitiesModalClass = "Show";
            ShowBackdrop = true;
            StateHasChanged();
        }
    }

    public void ClosePossibilities()
    {
        PossibilitiesModalDisplay = "none";
        PossibilitiesModalClass = "";
        ShowBackdrop = false;
        Display();
        StateHasChanged();
    }
}