﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.show1 > span > .possibly1 {
    font-weight: 800;
    color: blue;
}

.show2 > span > .possibly2 {
    font-weight: 800;
    color: blue;
}

.show3 > span > .possibly3 {
    font-weight: 800;
    color: blue;
}

.show4 > span > .possibly4 {
    font-weight: 800;
    color: blue;
}

.show5 > span > .possibly5 {
    font-weight: 800;
    color: blue;
}

.show6 > span > .possibly6 {
    font-weight: 800;
    color: blue;
}

.show7 > span > .possibly7 {
    font-weight: 800;
    color: blue;
}

.show8 > span > .possibly8 {
    font-weight: 800;
    color: blue;
}

.show9 > span > .possibly9 {
    font-weight: 800;
    color: blue;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
